In [1]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta
from itertools import cycle

In [2]:
given_date = datetime(2023, 9, 3) 

num_days=30
dat=[]
for _ in range(num_days):
    dat.append(given_date.strftime('%d-%m-%Y'))
    given_date += timedelta(days=1)
    
dat

dat *=100

df = pd.DataFrame({'Date':dat})

In [3]:
camp=[]
for i in range(1,11):
    camp.append('campaign_'+str(i))
    
print(camp)

['campaign_1', 'campaign_2', 'campaign_3', 'campaign_4', 'campaign_5', 'campaign_6', 'campaign_7', 'campaign_8', 'campaign_9', 'campaign_10']

In [4]:
from datetime import datetime, timedelta

given_date = datetime(2023, 7, 25)
num_days = 10
dat1 = []

for _ in range(num_days):
    dat1.append(given_date.strftime('%d-%m-%Y'))
    given_date += timedelta(days=10)
dat1

['25-07-2023',
 '04-08-2023',
 '14-08-2023',
 '24-08-2023',
 '03-09-2023',
 '13-09-2023',
 '23-09-2023',
 '03-10-2023',
 '13-10-2023',
 '23-10-2023']

In [5]:
Duration = [15,20,25]
end_dates=[]
dur_cycle=cycle(Duration)
for i in dat1:
    duration = next(dur_cycle)
    start_date = datetime.strptime(i, '%d-%m-%Y')
    end_date = start_date + timedelta(days=duration)
    end = end_date.strftime('%d-%m-%Y')
    end_dates.append(end)
end_dates

['09-08-2023',
 '24-08-2023',
 '08-09-2023',
 '08-09-2023',
 '23-09-2023',
 '08-10-2023',
 '08-10-2023',
 '23-10-2023',
 '07-11-2023',
 '07-11-2023']

In [6]:
camp *=300

df = pd.DataFrame({'Date':dat,'Campaign':camp,'Campaign_Start_Date':camp,'Campaign_End_Date':camp})
df

            Date     Campaign Campaign_Start_Date Campaign_End_Date
0     03-09-2023   campaign_1          campaign_1        campaign_1
1     04-09-2023   campaign_2          campaign_2        campaign_2
2     05-09-2023   campaign_3          campaign_3        campaign_3
3     06-09-2023   campaign_4          campaign_4        campaign_4
4     07-09-2023   campaign_5          campaign_5        campaign_5
...          ...          ...                 ...               ...
2995  28-09-2023   campaign_6          campaign_6        campaign_6
2996  29-09-2023   campaign_7          campaign_7        campaign_7
2997  30-09-2023   campaign_8          campaign_8        campaign_8
2998  01-10-2023   campaign_9          campaign_9        campaign_9
2999  02-10-2023  campaign_10         campaign_10       campaign_10

[3000 rows x 4 columns]

In [7]:
l=['campaign_1', 'campaign_2', 'campaign_3', 'campaign_4', 
   'campaign_5', 'campaign_6', 'campaign_7', 'campaign_8', 'campaign_9', 'campaign_10']

m = ['25-07-2023',
 '04-08-2023',
 '14-08-2023',
 '24-08-2023',
 '03-09-2023',
 '13-09-2023',
 '23-09-2023',
 '03-10-2023',
 '13-10-2023',
 '23-10-2023']

n = ['09-08-2023',
 '24-08-2023',
 '08-09-2023',
 '08-09-2023',
 '23-09-2023',
 '08-10-2023',
 '08-10-2023',
 '23-10-2023',
 '07-11-2023',
 '07-11-2023']

camp_dict = {i:j for i,j in zip(l,m)}

date_dict = {p:q for p,q in zip(l,n)}

print(camp_dict)
print(date_dict)

df['Campaign_Start_Date'] = df['Campaign_Start_Date'].replace(camp_dict)

df['Campaign_End_Date'] = df['Campaign_End_Date'].replace(date_dict)

{'campaign_1': '25-07-2023', 'campaign_2': '04-08-2023', 'campaign_3': '14-08-2023', 'campaign_4': '24-08-2023', 'campaign_5': '03-09-2023', 'campaign_6': '13-09-2023', 'campaign_7': '23-09-2023', 'campaign_8': '03-10-2023', 'campaign_9': '13-10-2023', 'campaign_10': '23-10-2023'}
{'campaign_1': '09-08-2023', 'campaign_2': '24-08-2023', 'campaign_3': '08-09-2023', 'campaign_4': '08-09-2023', 'campaign_5': '23-09-2023', 'campaign_6': '08-10-2023', 'campaign_7': '08-10-2023', 'campaign_8': '23-10-2023', 'campaign_9': '07-11-2023', 'campaign_10': '07-11-2023'}

In [8]:
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y')
df['Campaign_Start_Date'] = pd.to_datetime(df['Campaign_Start_Date'], format='%d-%m-%Y')
df['Campaign_End_Date'] = pd.to_datetime(df['Campaign_End_Date'], format='%d-%m-%Y')

In [9]:
df['remaining'] = (df['Campaign_End_Date']-df['Date']).dt.days

In [10]:
df['remaining']

0      -25
1      -11
2        3
3        2
4       16
        ..
2995    10
2996     9
2997    23
2998    37
2999    36
Name: remaining, Length: 3000, dtype: int64

In [11]:
def status(x):
    if x<0:
        return "Completed"
    else:
        return "Active"
    

df['Campaign_Status'] = df['remaining'].apply(status)    
df['Campaign_Status']

0       Completed
1       Completed
2          Active
3          Active
4          Active
          ...
2995       Active
2996       Active
2997       Active
2998       Active
2999       Active
Name: Campaign_Status, Length: 3000, dtype: object

In [12]:
df

,Date,Campaign,Campaign_Start_Date,Campaign_End_Date,remaining,Campaign_Status
0,2023-09-03,campaign_1,2023-07-25,2023-08-09,-25,Completed
1,2023-09-04,campaign_2,2023-08-04,2023-08-24,-11,Completed
2,2023-09-05,campaign_3,2023-08-14,2023-09-08,3,Active
3,2023-09-06,campaign_4,2023-08-24,2023-09-08,2,Active
4,2023-09-07,campaign_5,2023-09-03,2023-09-23,16,Active
...,...,...,...,...,...,...
2995,2023-09-28,campaign_6,2023-09-13,2023-10-08,10,Active
2996,2023-09-29,campaign_7,2023-09-23,2023-10-08,9,Active
2997,2023-09-30,campaign_8,2023-10-03,2023-10-23,23,Active
2998,2023-10-01,campaign_9,2023-10-13,2023-11-07,37,Active
2999,2023-10-02,campaign_10,2023-10-23,2023-11-07,36,Active